@charset "utf-8";

$base-font-family: TikTok Sans;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$table-text-align: left;

$content-width:    800px;

$on-palm:          500px;
$on-laptop:        600px;

@mixin media-query-max-width-mobile($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min-width-laptop($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
