---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: 'Cyrvetica v2 Extra';
  src: url('fonts/Cyrvetica_v2_Extra_Light.woff2') format('woff2'); 
  font-weight: normal;
  font-style: normal;
}
