/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query-max-width-mobile($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background: url(https://lh3.googleusercontent.com/pw/AP1GczN_7o6Z4mkX5A46TdpTmgovqJgaZslFu6sZ05AU3oYCayIgQY438WuNHlbjCWGoF4Ul7iaqbj1o2iOldwtdHYeuLZN050PmvOxnWKCfPIW0gx_BnzGC5yUni_epy2s1AEx8DW9rrlWug2aRS4RPWqRbVPpX1gst8a7nsP2nyJI1Lzbr1S8rqJC7jtAEakEiiu3B22p_DMxrnbeOdfNVE-ZYfYNneYFk1JDfKyv-DO245UbAe0v1JLs3fcOZ-MREwczHU3duiRZQqZWG3eg1LmbNLoE4gvUHo011y_NuVgOoQErTdwXPrc3pto5fNroUuho92Jv4DY5HStBCTLv6U7oaV1h0hctakMHTgNvYD5rZoGqilET2ZGn3fq-EWG5ckm2--5hj64kcPsggkldVJKq26XHT5mmiJYYgwwFjJRgN_8Uxw2Hc3iQggikRSbKMPCFHZboT2Fs3r6zV1KrmhAeRpB505YTxC_toAV96jLNvFKLWzhrEBu4V1lSn4T0FKG2kFUSRaZJA89qUZf05Fb6vKucegS-vofE-gO-oAeAXiWvHBQVh8EWJx7gwUfy_QZ52pGiWgB00XlP6i0ig6YiNsy00ZouP7Z8Lh9Mar2ylgzrxEMwatmwHpyxff6oyP_dsZscvK2kwvs3jnp3_b6OJxI_Vig8M9B28AZxa5RXEkCN0oII6KaX1OPO_3Lnmo9Mu78xjtkMrn5pF-MVJlFhXVlDmyXsdqVVU0k1mc8L61jcKxK3Wtd61b3fQrHcEBGYQHv_qZlOZrekRytCnavSSHEuhIzUaaBGzfQDyddGZU4SIsagmxOEICu45LLE5p_qO3ZVi4bf8wPAFAaszahGOyc8TdII564nZhOd_cdtlecXRlppq1-xh_h8FbJB6SWwziXVMcJclkfc9IySIfh1dTkLQiYW4hUGpbef5XE2Xo6Nl7El7OmDo=w159-h188-no);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper { 
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  margin-right: -20%;
}


@include media-query-min-width-laptop($on-laptop) {
  .footer-col-1 {
  	width: calc(35% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
  	margin-top: -15%;
  	margin-left: 60%;
  	margin-right: -20%;
  	padding-left: 2%;
  	color: $grey-color;
  	@include relative-font-size(0.9);
  }
}

@include media-query-max-width-mobile($on-palm) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(100% - (#{$spacing-unit} / 2));
    color: $grey-color;
    @include relative-font-size(0.9);
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.just-as-code-block {
  background-color: #abdbe3;
}

/**
 * Tags
 */
@include media-query-min-width-laptop($on-laptop) {
	.mobile-tags-view {
	   display: none
	}
	.desktop-tags-view {
	   display: inline
	}		
}

@include media-query-max-width-mobile($on-palm) {
	.mobile-tags-view {
	   display: inline
	}
	.desktop-tags-view {
	   display: none
	}
}

.cyrillic-date {
   font-size: $small-font-size*0.9
}

ul.tag-list li::marker {
   font-size: 1.0em;
   content: '· ';
}

li.powered-by {
   font-size: 0.8em;
}

#tag-cloud {
   color: $grey-color-dark;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query-min-width-laptop($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  img:not(.custom) {
  	  border: 2px solid #ddd;
  	  border-radius: 8px;
  	  display: block;
  	  margin: left;
  	  width: 100%;
  	  object-fit: fill;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
