/**
 * Site header
 */
 
.header-first-column {
  border-style : solid;
  border-width: 1px;
  width: 20vw;
}

.header-second-column {
  border-style : solid;
  border-width: 1px;
  width: 35vw;
  text-align: left;
}

.header-third-column {
  border-style : solid;
  border-width: 1px;
  width: 45vw;
}
 

.site-title {
  @include relative-font-size(1.625);
  line-height: $base-line-height * $base-font-size * 2.25;
  &:visited {
    color: $grey-color-dark;
  }
  padding-left: 0;
}

.site-nav {
  float: left;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query-max-width-mobile($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
@include media-query-min-width-laptop($on-laptop) {
  .footer-col-1 {
  	width: calc(35% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
  	margin-top: -15%;
  	margin-left: 60%;
  	margin-right: -20%;
  	padding-left: 2%;
  	color: $grey-color;
  	@include relative-font-size(0.9);
  }
}

@include media-query-max-width-mobile($on-palm) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(100% - (#{$spacing-unit} / 2));
    color: $grey-color;
    @include relative-font-size(0.9);
  }
}

.footer-col-1 {
  border-style : solid;
  border-width: 1px;
  width: 20vw;
}

.footer-col-2 {
  border-style : solid;
  border-width: 1px;
  text-align: left;
  padding-left: 0;
  width: 25vw;
}

.footer-col-3 {
  border-style : solid;
  border-width: 1px;
  width: 10vw;
}

.footer-col-4 {
  border-style : solid;
  border-width: 1px;
  text-align: left;
  color: $grey-color;
  width: 45vw;
}

.footer-desc {
  padding-right: 250px;
  margin-top: 0;
  @include relative-font-size(0.9);
}

.footer-table {
}


.site-footer {
   bottom: 0;
   position: absolute;
  // background-image: url('https://lh3.googleusercontent.com/pw/AP1GczPsyFz68xgKMXnlCRdlJtyAuNbqkzP7yArK8Tfh3bd6r4OSCW_RsLW6brZnKtmHbnJbXemQXhO6HuiqjcB0CXj7wvAuKsm1fxEeXg3LlxmA4yQzEBI9b8BG6WHNqAHJxASyexGCbMZXgVPKd3PaLyTUzPeIa5NfbhV6BME92nhZ4vHAHjF5ELmZB9pIeML8j1h3bUjc758jdf-awf_5b3CjUCGRzudH1MvHfgNSwDhw5mYr2S0i1EGpher0dGeeuo6T8vjkaArByNod_WHYnc3A31JXJRXowM3vgIwPGsx0U8h7ym0wD-XEy8uD-w3YHaAI2MAg9t3STlqiYttCdJHK7LB7DAoi9D-OCYW8aLlzHZ6zMRuQJAHWLWHmt4IIb2bnPhmS_BcpgAHltQiLw-uLHQJ2QIsi8dniHSORuokPLWMkrOyi6kdkwMKkGsCZ5Ff2L47nSYoTvjqxIoIwxhtV5U9kZm7HJtGevrIxPbzggIIYYBMC3uw4SdFVrsgI462YPBWhkGYAGBpyy3OwJ1BdY4tTCOksxYxMEgfggasM1HYKiEhORVSyOaeyhg8g1UY7lkYSPWXPWabRnOGA_-mvLGvwVjNZcVpttQKOSEslOgepTGMFDd86pAxoxuaCfT3U6fRGsyMEFS9FIVA3jOGcNORQsr8VTgC_pjGi3x093V4Ji9OVCwEUzB1Pt-A2zlAhO0y-J462RQQi_sFALyx-n8x-ITjdleJlkIiuMiA_a3bynspZDzrblCsOe_ar7vKUTHSfYkz0wVeXxEXeNwK7LjyuCVXsSLmoKAPV4JY_6J9jUfb5i0MC6veou03F7a5VzeZuL_jqPXHl-voDaWBOHlPrRepKnaYR5bTgTKpp0t2gw066yUTnUpdhunuzc_GQpCWwt2VUCC4A2kGcL00hEBUyc389V97_Xe7LD39jFyFaw3AEAZ5s=w890-h593-no');
}


.footer-heading {
   margin-top: 0;
}

/**
 * Default content
 */
 
.default-col-1 {
  border-style : solid;
  border-width: 1px;
  width: 20vw;
}

.default-col-2 {
  border-style : solid;
  border-width: 1px;
  text-align: left;
  width: 60vw;
}

.default-col-3 {
  border-style : solid;
  border-width: 1px;
  width: 20vw;
}

.post-list {
  margin-top: 0;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  margin-top: 0;
  @include relative-font-size(1.3);
}

.pagination {
  margin-top: 0px;
}

.just-as-code-block {
  background-color: #abdbe3;
}

/**
 * Tags
 */
@include media-query-min-width-laptop($on-laptop) {
	.mobile-tags-view {
	   display: none
	}
	.desktop-tags-view {
	   display: inline
	}		
}

@include media-query-max-width-mobile($on-palm) {
	.mobile-tags-view {
	   display: inline
	}
	.desktop-tags-view {
	   display: none
	}
}

.cyrillic-date {
   font-size: $small-font-size*0.9
}

ul.tag-list li::marker {
   font-size: 1.0em;
   content: '· ';
}

.powered-by {
   font-size: 0.7em;
   line-height: 27px;
}

#tag-cloud {
   color: $grey-color-dark;
}


/**
 * Posts
 */

.post-list{
  padding-left: 0;
}
 
.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query-min-width-laptop($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.default-content {
  margin-bottom: $spacing-unit;
  img:not(.custom) {
  	  border: 2px solid #ddd;
  	  border-radius: 8px;
  	  display: block;
  	  margin: left;
  	  width: 100%;
  	  object-fit: fill;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query-min-width-laptop($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
