---
layout: default
---
<script>
 const preloadImage = src => 
  new Promise((resolve, reject) => {
    const image = new Image()
    image.onload = resolve
    image.onerror = reject
    image.src = src
  });
 
{% for post in page.posts %}
  {% if post.pictureUrl %}
	   preloadImage("{{post.pictureUrl}}");
  {% endif %}
{% endfor %}
</script>

<h2>{{ page.tag }}</h2>

<ul>
{% for post in page.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | localize: '%d. %B %Y' }}</li>
{% endfor %}
</ul>

<div id="tag-cloud">
    {% for occupation in site.data.tags.occupations %}
    	<a href="{{site.baseurl}}/tag/{{ occupation }}.html">{{ occupation }}</a>
    {% endfor %} |
    {% for place in site.data.tags.places %}
    	<a href="{{site.baseurl}}/tag/{{ place }}.html">{{ place }}</a>
    {% endfor %} |
    {% for country in site.data.tags.countries %}
    	<a href="{{site.baseurl}}/tag/{{ country }}.html">{{ country }}</a>
    {% endfor %} |
    {% for thing in site.data.tags.stuff %}
    	<a href="{{site.baseurl}}/tag/{{ thing }}.html">{{ thing }}</a>
    {% endfor %} |
    {% for human in site.data.tags.people %}
    	<a href="{{site.baseurl}}/tag/{{ human }}.html">{{ human }}</a>
    {% endfor %}     
</div>