---
layout: default
---
<script>
 const preloadImage = src => 
  new Promise((resolve, reject) => {
    const image = new Image()
    image.onload = resolve
    image.onerror = reject
    image.src = src
  });
 
{% for post in page.posts %}
  {% if post.pictureUrl %}
	   preloadImage("{{post.pictureUrl}}");
  {% endif %}
{% endfor %}
</script>

<h2>{{ page.tag }}</h2>

<ul>
{% for post in page.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | localize: '%d. %B %Y' }}</li>
{% endfor %}
</ul>
<br/>
<div id="tag-cloud">
    {% for category in site.data.tags %}    	
	   <span>{{ category[0] }} : </span>
	   {% for tag in category[1] %}
		<a href="{{site.baseurl}}/tag/{{ tag }}.html">{{ tag }}</a>    	 
	   {% endfor %}</br>
    {% endfor %}    
</div>