---
layout: default
---
<script>
  const preloadImage = src => 
  new Promise((resolve, reject) => {
    const image = new Image()
    image.onload = resolve
    image.onerror = reject
    image.src = src
  });
 
{% for post in page.posts %}
  {% if post.pictureUrl %}
	   preloadImage("{{post.pictureUrl}}");
  {% endif %}
{% endfor %}
</script>

<h2>{{ page.tag }}</h2>

<ul class="tag-list">
{% for post in page.posts %}
  <li>
  	<a href="{{ post.url }}">{{ post.title }}</a>  	
  	<span class="mobile-tags-view cyrillic-date" comment="we skip the date on mobile"></span>
  	<span class="desktop-tags-view cyrillic-date"> - {{ post.date | localize: '%d. %B %Y' }}</span>
  </li>
{% endfor %}
</ul>
<br/>
<div id="tag-cloud">
    {% for category in site.data.tags %}   	   
	   <span><b>{{ category[0] }} > </b></span>
	   {% for tag in category[1] %}         
	      <a href="{{ site.baseurl }}/tag/{{ tag }}.html">{{ tag }}</a><span> ·</span> 
	   {% endfor %}   
	   <span class="desktop-tags-view"></br></span>
    {% endfor %}
</div>